.App {
    text-align: center;
}

h1.title {
    margin: 0 !important;
    padding: 10px;
}

.total-distance-text{
    color: #373a36;
}

.background-blue {
    background-color: #373a36;
    color: white;
}

.text-align-left {
    padding-left: 20px;
    text-align: left;
}

.float-right {
    display: flex;
    justify-content: flex-end;
}
.flex-float-center{
    display: flex;
    justify-content: center;
}

.flex-float-start{
    display: flex;
    justify-content: flex-start;
}
.float-center{
    display: flex;
    justify-content: center;
}
.flex-div-column {
    display: flex;
    flex-flow: column;
}

.flex-div-row{
    display: flex;
    flex-flow: row;
}

.flex-div{
    display: flex;
    justify-content: center;
}

.padding-right-20 {
    padding-right: 20px;
}


.padding-right-20p {
    margin-right: 50px
}

.rc-table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    text-transform: capitalize;
}

th {
    text-align: center !important;
    color: white !important;
    background-color: #373a36;
}

td {
    background-color: #2cd5c4;
}

/*for mobile and tablets*/
@media (max-width: 800px) {
    .rc-table-container {
        justify-content: flex-start
    }
    .strava-display{
        display: none;
    }
}

